.wrapper {
  width: 400px;
  margin: 0 auto;
}

.list {
  border: 1px solid black;
  margin-top: 1px;
  height: auto;
  overflow: auto;
}

.list-item {
  border-bottom: 1px solid black;
  display: flex;
  bottom: 1px;
  position: relative;
}

.list-item__content {
  position: relative;

  left: 1px;
  margin-bottom: 1px;
  margin-right: 10px;
}

.list-item__state {
  position: absolute;
  right: 0;
  bottom: 0.5px;
}

.edit-input {
  position: absolute;
  right: 0;
  bottom: 0.5px;
}
