.wrapper-app {
  .site-layout {
    padding: 0 20px;
    opacity: 100%;
    background-color: black;

    .header {
      position: fixed;
      z-index: 1;
      width: 100%;
      background-color: black;
      opacity: 80%;

      .menu {
        background-color: black;
      }
    }

    .image {
      padding: 0px 24px 0px 24px;
      margin-top: 64px;
      min-height: 1000px;

      .background-image {
        width: 100%;
      }

      .left {
        position: relative;

        .left-image {
          width: 100%;
        }
      }

      .right {
        position: relative;

        .right-image-1 {
          width: 100%;
          position: relative;
          height: 100%;
        }

        .right-image-2 {
          width: 100%;
          position: relative;
          height: 50%;
        }

        .right-text {
          position: absolute;
          color: #1a6f23;
          font-size: 32px;
          top: 0px;
          right: 50%;
        }
      }
    }
  }

  .wrapper-formList {
    margin: 0px 24px 0px 24px;
    padding: 0px 50px 0px 50px;
    background-color: greenyellow;

    .title {
      text-align: center;
      margin: 0px 0px 20px 0px;
      padding: 20px 0px 0px 0px;
    }

    .form-submit {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }

  .footer {
    margin: 0px 24px 0px 24px;
    background-color: greenyellow;
    text-align: center;
  }
}
